* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  background: #aadd8e; }

p.tooltip {
  font-family: Tahoma, Arial;
  font-size: 12px;
  width: 90%;
  max-width: 600px;
  margin: 0px auto;
  color: #444; }

#calculator {
  background: #f2f2f2;
  font-family: Tahoma, Arial;
  font-size: 30px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); }
  #calculator #visual {
    width: 98%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
    font-size: 40px;
    background: #333;
    color: #FFF;
    margin: 1% 1% 2%;
    border: 1px solid #666;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 4px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 4px rgba(255, 255, 255, 0.5); }
  #calculator #keys li {
    float: left;
    width: 23%;
    height: 50px;
    line-height: 50px;
    margin: 1%;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #666;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #calculator #keys li.large {
      width: 48%; }
    #calculator #keys li.clear {
      background: #d1dd8e; }
      #calculator #keys li.clear:active {
        background: #eaf7a5; }
    #calculator #keys li.number {
      background: #FFF;
      color: #848484; }
      #calculator #keys li.number:active {
        background: #EEE; }
    #calculator #keys li.coma {
      background: #f2f2f2;
      color: #848484; }
      #calculator #keys li.coma:active {
        background: #FFF; }
    #calculator #keys li.func {
      background: #8ecedd; }
      #calculator #keys li.func:active {
        background: #adefff; }
    #calculator #keys li.equal {
      background: #8eddc7; }
      #calculator #keys li.equal:active {
        background: #a4f7e0; }
  #calculator.sum #keys li#sum {
    opacity: 0.5; }
  #calculator.sub #keys li#sub {
    opacity: 0.5; }
  #calculator.div #keys li#div {
    opacity: 0.5; }
  #calculator.mul #keys li#mul {
    opacity: 0.5; }
  #calculator.exp #keys li#exp {
    opacity: 0.5; }
