*{box-sizing:border-box;padding:0;margin:0;list-style: none;}
body{
	background:#aadd8e;
}
p.tooltip{
	font-family: Tahoma, Arial;
	font-size:12px;
	width:90%;
	max-width:600px;
	margin:20px auto;
	color:#333;
}
#calculator{
	background:#f2f2f2;
	font-family: Tahoma, Arial;
	font-size:30px;
	width:90%;
	max-width:600px;
	border-radius:10px;
	margin:20px auto;
	padding:20px;
	box-shadow:0 4px 6px rgba(0, 0, 0, 0.3);
	#visual{
		width:98%;
		height:60px;
		line-height:60px;
		text-align: center;
		overflow:hidden;
		font-size:40px;
		background:#333;
		color:#FFF;
		margin:1% 1% 2%;
		border:1px solid #666;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 4px rgba(255, 255, 255, 0.5);
	}
	#keys{
		li{
			float: left;
			width:23%;
			height:50px;
			line-height:50px;
			margin:1%;
			text-align: center;
			box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
			cursor:pointer;
			color:#848484;
			&.large{
				width:48%;
			}
			&.number{
				background:#FFF;
				&:active{
					background:#EEE;
				}
			}
			&.coma{
				background:#d1dd8e;
				&:active{
					background:#eaf7a5;
				}
			}
			&.func{
				background:#8ecedd;
				&:active{
					background:#adefff;
				}
			}
			&.equal{
				background:#8eddc7;
				&:active{
					background:#a4f7e0;
				}
			}
		}
	}
	&.sum #keys li#sum{opacity:0.5;}
	&.sub #keys li#sub{opacity:0.5;}
	&.div #keys li#div{opacity:0.5;}
	&.mul #keys li#mul{opacity:0.5;}
	&.exp #keys li#exp{opacity:0.5;}
}
